*{
    margin: 0;
    transition: all 0.3s ease-in-out;
}
a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    transition: all 0,3s ease-in-out;
    color: #1AE570;
   
}
header img:hover{
    transform: scale(1.7);
}
#burger{
    display: none;
}
input{
    outline: none;
}


.main_title{
    font-family: "Newsreader", sans-serif;
}
/* Header */
header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom-color: #E8F2ED;
    padding: 20px;
    overflow: hidden;
}
#Logo{
font-family: "Newsreader", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;
}

header div{
    display: flex;
    gap: 50px;
}


header div a{
    font-family: "Newsreader", sans-serif;
}
header div ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding-top: 17px;
}
header div ul li{
    display: flex;
}
header div nav a{
    color: black;
    text-decoration: none;
    list-style: none;
}
header a{
   align-content: space-evenly;
}
header div .image{
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.logout{
    font-family: "Newsreader", sans-serif;
    border: 1px solid;
    background-color: #E8F2ED;
    border-radius: 40px;
    padding:10px;;
    border-color: #E8F2ED;
    color: rgba(13, 28, 18, 1);

}
.logout:hover{
    color: #E8F2ED;
   background-color: #1AE570;
}

/* SECTION1 */
#section1{
    max-width: 1280px;
    margin: auto;
}
#section1 div{
    max-width: 960px;
   margin: auto;
   

}
h1{
    font-family: "Newsreader",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.8px;
    color: #0D1C12;
}
#div1{
     display: flex;
    gap: 10px;
}
select{
    border: 1px solid;
    border-radius: 15px;
    border-color: #E8F2ED;
    background-color: #E8F2ED;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 40px;
   
}
option{
    font-family: "Newsreader",sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 21px;
    letter-spacing: 0px;
    color: #4F966E;

}
 #search{
    border: 1px solid;
    border-radius: 20px;
    background-color: #E8F2ED;
    border-color: #E8F2ED;
    align-content: space-evenly;
    padding: 5px;
   
}

form button{
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #4F966E;
}


form input{
    background-color: rgba(0, 0, 0, 0) ;
    border-width: 0;
}
::placeholder{
font-family:" Newsreader", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: #4F966E;
}

#tableau{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.p1{

}