*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    transition: all 0,3s ease-in-out;
    color: #1AE570;
}
#burger{
    display: none;
}
input{
    outline: none;
}


.main_title{
    font-family: "Newsreader", sans-serif;
}
/* Header */
header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom-color: #E8F2ED;
    padding: 20px;
    overflow: hidden;
}
#Logo{
font-family: "Newsreader", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;
}
.logout:hover{
    color: #E8F2ED;
   background-color: #1AE570;
}

header div{
    display: flex;
    gap: 50px;
}

header div #search{
    border: 1px solid;
    border-radius: 20px;
    background-color: #E8F2ED;
    border-color: #E8F2ED;
    align-content: space-evenly;
    padding: 5px;
}

header form button{
    border: none;
    cursor: pointer;
    padding: 5px;
}


header input{
    background-color: rgba(0, 0, 0, 0) ;
    border-width: 0;
}

header div a{
    font-family: "Newsreader", sans-serif;
    border: 1px solid;
    background-color: #E8F2ED;
    border-radius: 10px;
    padding: 5px 15px;
    border-color: #E8F2ED;
}

header a{
   align-content: space-evenly;
}

/* Main */
#section11{
    max-width: 1440px;
    margin: auto;
    width: 960px;
}
#section11 h1{
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
    color: rgba(13, 28, 18, 1);
}
#section11 img{
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
   width: 780px;
    height: 217px;
    width: 779.34326171875;
    top: 167px;
    left: 250.33px;
    opacity: 1;
    object-fit: cover;
    object-position: center;
    padding-left: 80px;

}
#section12{
    max-width: 1440px;
    margin: auto;
    width:886px;
}

#section12 p{
    font-size: 16px;
    font-family:"Newsreader",sans-serif ;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(105, 105, 105, 1);
    margin-top: 10px;

}
#section12 .art111{
    margin-top: 40px;
    margin-bottom: 40px;
}

#section12 h2{
    color: #0D1C12;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;

}

#section12 .art112{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Footer */
footer{
    color: #4F966E;
   
}
footer article{ 
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 960px;
    font-size: 16px;
    margin-top: 80px;
}

footer article a{
    color: #4F966E;
}



footer p{
    text-align: center;
    margin: 40px;

}


