*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    transition: all 0,3s ease-in-out;
}
#burger{
    display: none;
}
input{
    outline: none;
}


.main_title{
    font-family: "Newsreader", sans-serif;
}
/* Header */
header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom-color: #E8F2ED;
    padding: 20px;
    overflow: hidden;
}
#Logo{
font-family: "Newsreader", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;
}

header div{
    display: flex;
    gap: 50px;
}

header div #search{
    border: 1px solid;
    border-radius: 20px;
    background-color: #E8F2ED;
    border-color: #E8F2ED;
    align-content: space-evenly;
    padding: 5px;
}

header form button{
    border: none;
    cursor: pointer;
    padding: 5px;
}


header input{
    background-color: rgba(0, 0, 0, 0) ;
    border-width: 0;
}

header div a{
    font-family: "Newsreader", sans-serif;
    border: 1px solid;
    background-color: #E8F2ED;
    border-radius: 10px;
    padding: 5px 15px;
    border-color: #E8F2ED;
}

header a{
   align-content: space-evenly;
}

/* Section 1 */
#section1{
    background-image: url(../img/Section1.png);
    background-attachment: fixed;
    background-size: cover;
    width: 960px;
    height:464px ;
    margin: auto;
    align-items: center;
    border-radius: 15px;
    margin-top: 4%;
   
}
#section1 div{
 background-color: rgba(0, 0, 0, 0.374);
 height:-webkit-fill-available;
 border-radius:12px;
 padding-left: 40px;
}

#section1 article{
    padding-top:30%;
    margin: auto;
       
}
#section1 article h1{
    font-size: 48px;
    color:#FFFFFF ;
    margin-bottom: 10px;
}
#section1 article p{
    font-family: "Newsreader", sans-serif;
    font-size: 16px;
    color:#FFFFFF ;
    margin-bottom: 20px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;

}

#section1  .btn{
    margin-top: 50px;
    color: #0D1C12;
    border-radius: 20px;
    background-color: #1AE570;
    padding: 10px;
}

#section1 .btn:hover{
    color: #1AE570;
    background-color:#0D1C12 ;
}

/* section 2 */
#section2{
    margin: auto; 
    width: 960px;
    margin-top: 40px;
    
}
#section2 h2{
    font-size: 32px;
    margin-bottom: 40px;
}

#section2 article{
    display: flex;
    margin-bottom: 30px;
}
#section2 img{
    min-width:456px;
    height: 256px;
    border-radius: 10px;
    object-fit: none;
}
#section2 div{
    padding-left: 20px;
    padding-right: 10px;
    
}
#section2 div h3{
    margin-bottom: 10px;
    
}

#section2 div p{
    color: #4F966E;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
}

#section2 .btn{
    place-self: flex-end;
    display: block;
     color: #0D1C12;
    border-radius: 20px;
    background-color: #1AE570;
  margin-top: 60px;
    padding: 10px 20px;
    
}
#section2 .btn:hover{
    color: #1AE570;
    background-color:#0D1C12 ;
}
/* Footer */
footer{
    color: #4F966E;
   
}
footer article{ 
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 960px;
    font-size: 16px;
    margin-top: 80px;
}

footer article a{
    color: #4F966E;
}



footer p{
    text-align: center;
    margin: 40px;

}

/* Responsive version tablette */

@media screen and (max-width: 1024px) {

    #section2 .art1{
        display: grid;
        grid-template-columns: 1fr;
    }
    #section2  img{
    margin: auto;
    
    }
    #section2 h3{
        margin-top: 40px;
    }

       
    #section2 .btn{
        margin: auto;
        margin-top: 20px;
         margin-bottom: 80px;
    }
}