*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    transition: all 0,3s ease-in-out;
}
#burger{
    display: none;
}
input{
    outline: none;
}


.main_title{
    font-family: "Newsreader", sans-serif;
}
/* Header */
header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom-color: #E8F2ED;
    padding: 20px;
    overflow: hidden;
}
#Logo{
font-family: "Newsreader", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;
}

header div{
    display: flex;
    gap: 50px;
}


header div a{
    font-family: "Newsreader", sans-serif;
}
header div ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding-top: 17px;
}
header div ul li{
    display: flex;
}
header div nav a{
    color: black;
    text-decoration: none;
    list-style: none;
}
header a{
   align-content: space-evenly;
}
header div .image{
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.logout{
    font-family: "Newsreader", sans-serif;
    border: 1px solid;
    background-color: #E8F2ED;
    border-radius: 40px;
    padding:10px;;
    border-color: #E8F2ED;
    color: rgba(13, 28, 18, 1);

}
#section{
    width: 512;
    height: 599;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-self: center;
    border:1px;
     border-color: none;

}
#section h1{
    font-family: "Newsreader",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 27.5px;
    letter-spacing: -0.33px;
    color: rgba(13, 28, 18, 1);
    padding-bottom: 10px;

}

#section h2{
    font-family: "Newsreader", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(13, 28, 18, 1);
    padding-top: 10px;
    padding-bottom: 10px;

}
#title{
    max-width: 1440px;
    margin: auto;
     width: 480;
    height: 56;
    justify-content: space-between;
    opacity: 1;
    border-radius: 12px;
    padding: 10px;
   color: rgba(79, 150, 110, 1);
   border-color:#E8F2ED ;
   background-color: #E8F2ED;
   font-family: "Newsreader",sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}
#title textarea{
    padding-right: 40px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#section .div2 nav a{
    color: black;
    text-decoration: none;
    list-style: none;
    

}
#section .div2 ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding-top: 10px;
    padding-left: 0;
}
#section .div2 ul li{
    display: flex;
}

#section .div2 nav a{
    text-decoration: none;
    list-style: none;
    font-family: "Newsreader", sans-serif;
    border: 1px solid;
    background-color: #E8F2ED;
    border-radius: 40px;
    padding:10px;;
    border-color: #E8F2ED;
    color: rgba(13, 28, 18, 1);


}
    
