*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    transition: all 0,3s ease-in-out;
    color: #1AE570;
   
}
#burger{
    display: none;
}

.main_title{
    font-family: "Newsreader", sans-serif;
}


/* Header */
header{
    max-width: 1440px;
    margin: auto;
}
header div{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}
#Logo{
font-family: "Newsreader", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;
}



.aun{
    font-family: "Newsreader", sans-serif;
    border: 1px solid;
    background-color: #1AE570;
    border-radius: 40px;
    padding:10px;;
    border-color: #1AE570;
    color: rgba(13, 28, 18, 1);

}
.aun:hover{
    color: #FFFFFF;
background-color: #0D1C12;
}

/* SECTION */
#section{
    max-width: 512px;
    margin: auto;
}
h1{
    font-family: "Newsreader",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-align: center;

}
form article{
    width: 512px;
    display: grid;
    margin-bottom: 30px;
}
form input{
    border: 1px solid;
    border-radius: 4px;
    border-color: #E8F2ED;
    padding: 15px;
    background-color: #E8F2ED;
}
form label{
    font-family: "Newsreader", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0D1C12;

}
::placeholder{
    font-family: "Newsreader", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4F966E;

}

.checkbox{
    gap: 10px;

margin-bottom: 40px;
}
.btn{
    font-family: "Newsreader", sans-serif;
     border: 1px solid;
     border-radius: 25px;
     border-color: #1AE570;
     background-color: #1AE570;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    color: #0D1C12;
}
.btn:hover{
    color: #E5E8EB;
    background-color: #0D1C12;
}
.btn2{
    font-family: "Newsreader", sans-serif;
     border: 1px solid;
     border-radius: 25px;
     border-color: #E5E8EB;
     background-color: #E5E8EB;
    padding-left: 169px;
    padding-right: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    color: #0D1C12;

}
.btn2:hover{
    color: #E5E8EB;
    background-color: #0D1C12;
}

p{
  font-family: "Newsreader",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #393939;
    margin-top: 40px;
    margin-bottom: 40px;
    }

/* FOOTER */
footer{
    max-width: 1280px;
    margin: auto;

}
.footer{
    max-width: 960px;
    margin: auto;
    
   
}
footer article{ 
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 960px;
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: 40px;
}

footer article a{
    color: #4F966E;
}
.footer div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
   
}
.footer div a{
    color: #4F966E;
    width: 24px;
    height: 24px;

}
.footer p{
    font-family:" Newsreader",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 20px;
    color: #4F966E;
}
